[package]
name = "rust_bpmn_analyzer_cli"
version = "2.0.0"
edition = "2021"

[dependencies]
clap = { version = "4.5.55", features = ["derive"] }
colored = "3.1.1"
rust_bpmn_analyzer = { path = "../core" }

[profile.release]
codegen-units = 1
lto = "fat"
panic = "abort"