name: Build, Push & Deploy to Azure

on:
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

env:
  CARGO_TERM_COLOR: always

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: webserver

    steps:
      - uses: actions/checkout@v5
      - name: Add x86_64-unknown-linux-musl target
        run: rustup target add x86_64-unknown-linux-musl
      - name: Build rust_bpmn_analyzer
        run: cargo build --release --target x86_64-unknown-linux-musl
      - name: Build docker image
        run: |
          docker build -t tkra/rust_bpmn_analyzer:latest -t tkra/rust_bpmn_analyzer:${{ github.sha }} .
      - name: Login to Dockerhub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Push to Dockerhub
        run: |
          docker push tkra/rust_bpmn_analyzer:latest
          docker push tkra/rust_bpmn_analyzer:${{ github.sha }}
      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
      - name: Deploy to Azure Container App
        uses: azure/container-apps-deploy-action@v1
        with:
          resourceGroup: Tim
          containerAppName: rust-bpmn-analyzer
          imageToDeploy: docker.io/tkra/rust_bpmn_analyzer:${{ github.sha }}
